
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root{

    --white:#fff;
    --textColor:#333;
    --hove:#04ca88;

    --black:#1d1d1d;
    --text:#6d6d6d;
  
    --hove:#04ca88;
    --hoveD:#009966;
    --hoveL:#0ae29a;
  
    --dblue:#0b0422;
    --dblueL:#0f0531;
  /* btuun color */
    --hovebg:#bfffd554;
    --hovebgt:#1cb150a9;
    --hovebgs:#95ffba6b;
    /* red */
    --redbg:#feede8;
    --redbgt:#eb4b4b;
    /* blue */
     --bluebg:#D4F1FF;
     --bluebgt:#09A3F9;
       /* green */
       --greenbg:#EAF7ED;
       --greenbgt:#3ED552;
}
html{
    font-size:62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif ;
  color: var(--textColor);
  background-color: #f4fffb9c;
  font-size: 1.5rem;
  line-height: 2.7rem;
}
.wrapper{
  overflow: hidden;
  width: 100%;
}
a{
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  outline: 0px;
}
p{
    font-size:1.6 rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}
h1 {
  margin-top: 0;
  font-size: 3.052em;
  font-weight:bold;
}

h2 {font-size: 2.441em;
  font-weight:bold;}

h3 {font-size: 1.953em;
  font-weight:bold;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}


img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

/* ========================= */
/* .grid{
    margin: auto;
    max-width: 1280px;
    flex: 1;
}

.row{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  margin: 0 -12px 0 -12px;
}


.col-3{
  padding:0 12px 0 12px;
  width:calc((100%/12)*3);

}
.col-4{
  padding:12px;
  max-width:calc((100%/12)*4);

}
.col-9{
  padding:0 12px 0 12px;
  width:calc((100%/12)*9);

}


.col-9-3{
  padding:12px 12px 12px 12px;
  width:calc((100%/9)*3);
  
}
.col-12{
  padding:0 12px 0 12px;
  width:100%;
}
.col-12-2_4{
  padding:0 12px 0 12px;
  width:calc((100%/12)*2.4);

} */

/* ========================================== */
@keyframes flip{
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes zoom{

    0%{opacity:0;
        transform:scale(.5)  }

    100%{opacity:1;
        transform:scale(1)  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes beat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.2, 0.75, 1);
            transform: scale3d(1.2, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pop{
    0% {
      transform:  rotate(0deg) ;
    }
    20% {
      transform:  rotate(15deg) ;
    }
    40% {
      transform:  rotate(-10deg) ;
    }
    60% {
      transform:  rotate(5deg) ;
    }
    80% {
      transform:  rotate(-5deg) ;
    }
    100% {
      transform:  rotate(0deg) ;
    }
  }
  
  @keyframes wave{
    0% {
      transform:  scaleX(1) ;
    }
    25%{transform:  scaleX(2) }

    50%{transform:  scaleX(3) }
    
    75%{transform:  scaleX(2) }
    100% {
      transform:scaleX(1) ;
    }
  }
  

  .btn{
    
    position: relative;
    padding: 10px 25px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border:2px solid transparent;
    outline: none;
    font-size: 1.6rem;
    font-weight: 800;
    transition:.3s;

  }
  .btn:hover{
    color:#fff;
  }

  .btnbig{
    width:100%;
    padding: 10px;
  }
  
.btnGrey{
  color: #9b9b9b;
  background:#f0f0f0;
}
.btnlightHove{
  color: #1cb150a9;
  background:#bfffd554;
}
  .btnFocus{ 
    color: var(--white);
    background: var(--hove);
  }

  .btnOutline{
    color: #dddddd;
    border:2px solid #dddddd;
    background:transparent;
  }

  .btnOutline:hover{
    background: #dddddd;;
    color:#333;
  }
  .btnGrey:hover{
    background: #efeeee;
    color: #2f2f2f;
  }
  .btnFocus:hover{
    color: #fff;
    background:rgb(19, 247, 190);
  }

  .btn-filled {
    background-color: var(--hove);
  }
  
  .btn-filled:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
  }
  
  .btn-default {
    background-color: var(--hove);
    border-radius: 50px;
    color: #fff;
  }
  
  .btn-default:hover {
    color:#fff;
    background-color: var(--dblue);
    -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
  }
  
  .btn-round {
    border-radius: 50px;
  }
  
  .btn-outline {
    border: 2px solid #fff;
  }
  
  .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
.marL{
  margin-left :5px;
}
.marR{
  margin-right :5px;
}
  .btn.icon-left i {
    line-height: .8;
    margin-right: 20px;
  }

  .content-box h2, .content-box-fluid h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
  }
  
  @media screen and (max-width: 479px) {
    .content-box h2, .content-box-fluid h2 {
      font-size: 26px;
      line-height: 34px;
    }
  }
  
  .content-box h5, .content-box-fluid h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .content-box .btn, .content-box-fluid .btn {
    display:inline-flex;
    margin-top: 25px;
  }
  
  .content-box-fluid {
    width: 100%;
  }
/* tagline on h2 ============= */
  .tagline {
    color: var(--hove);
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
  }
  
  @media screen and (max-width: 991px) {
    .tagline {
      font-size: 20px;
    }
  }
  
  .tagline.bar {
    padding-left: 70px;
  }
  
  .tagline.bar:after {
    background-color: var(--hove);
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 2px;
    width: 50px;
  }
  
/* pagination =================================*/
.pagin{
  justify-content: center;
  align-items: center;
  display:flex;

}
.paginli{
font-size: 1.9rem;
list-style: none;
border-radius: 3px;
overflow: hidden;
margin:5px 10px;
}

.pagina{
  --height:30px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 40px;
  height: var(--height);
  line-height:var(--height);
  color:#333;
}
.pagina i{
margin: auto;
}

.pagina-active{
  background:var(--hove);
  color: #fff;
}
.paginli:hover{
  background: rgb(233, 233, 233);
}


section{
  padding:40px 0;

}


/* ==================================== Flex System ================================== */
.cen-vertical{
  align-items:center;
}
.cen-horizontal{
  justify-content: center;
}

.cen-cen{
  justify-content: center;
  align-items:center;
}
.order-0 {
  order:0;
}

.order-1 {
  order:1;
}
/* ==================================== Grid System ================================== */
.grid.wide {
  max-width: 1240px;
  margin: 0 auto;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1110px){
.order-c0 {
  order:0;
}

.order-c1 {
  order:1;
}
}
/* Mobile */
@media (max-width: 740px){
 
.cen-col{
  text-align: center;
  margin:auto;
}

.row {
  margin-left: -4px;
  margin-right: -4px;
}
.row.noSpace {
  margin-left: 0;
  margin-right: 0;
}

.row.noSpace .col {
  margin-top: 0px;
    margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}

.col {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}
}

/* ===========Tablet+PC Not Wide ============= */

/*Tablet >= 740  */
@media (min-width: 740px) {
  .container {
    max-width: 720px;
}
  .row {
      margin-left: -8px;
      margin-right: -8px;
  }
  .col {
      margin-top: 8px;
      margin-bottom: 8px;
      padding-left: 8px;
      padding-right: 8px;
  }
  .m-0 {
      display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
      display: block;
  }
  .m-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .m-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .m-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .m-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .m-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .m-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .m-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .m-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .m-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  .m-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
  .m-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }
  .m-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .m-o-1 {
      margin-left: 8.33333%;
  }
    
  .m-o-2 {
      margin-left: 16.66667%;
  }
    
  .m-o-3 {
      margin-left: 25%;
  }
    
  .m-o-4 {
      margin-left: 33.33333%;
  }
    
  .m-o-5 {
      margin-left: 41.66667%;
  }
    
  .m-o-6 {
      margin-left: 50%;
  }
    
  .m-o-7 {
      margin-left: 58.33333%;
  }
    
  .m-o-8 {
      margin-left: 66.66667%;
  }
    
  .m-o-9 {
      margin-left: 75%;
  }
    
  .m-o-10 {
      margin-left: 83.33333%;
  }
    
  .m-o-11 {
      margin-left: 91.66667%;
  }
}

/*PC  > 1114*/
@media (min-width: 1113px) {
  .container {
    max-width: 1140px;
}
  .row {
      margin-left: -12px;
      margin-right: -12px;
  }
  .row.smallSpace{
      margin-left: -5px;
      margin-right: -5px;
  }
  .col {
    margin-top: 12px;
    margin-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
  }
  .row.smallSpace.col {
    margin-top: 5px;
    margin-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
  }
  .l-0 {
      display: none;
  }
  .l-2-4,
  .l-1,
  .l-2,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
      display: block;
  }
  .l-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .l-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .l-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .l-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .l-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .l-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .l-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .l-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  .l-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
  .l-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }
  .l-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .l-o-1 {
      margin-left: 8.33333%;
  }
    
  .l-o-2 {
      margin-left: 16.66667%;
  }
    
  .l-o-3 {
      margin-left: 25%;
  }
    
  .l-o-4 {
      margin-left: 33.33333%;
  }
    
  .l-o-5 {
      margin-left: 41.66667%;
  }
    
  .l-o-6 {
      margin-left: 50%;
  }
    
  .l-o-7 {
      margin-left: 58.33333%;
  }
    
  .l-o-8 {
      margin-left: 66.66667%;
  }
    
  .l-o-9 {
      margin-left: 75%;
  }
    
  .l-o-10 {
      margin-left: 83.33333%;
  }
    
  .l-o-11 {
      margin-left: 91.66667%;
  }
}


/* =========== Tablet+PC Wide ============= */

/*Tablet+PC [740-1024] */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
      width: 644px;
  }
  .cen-col{
    text-align: center;
    margin:auto;
  }
}

/*PC [1024-1240] */
@media (min-width: 1024px) and (max-width: 1239px) {

  .wide {
      width: 984px;
  }
  .wide .row {
      margin-left: -12px;
      margin-right: -12px;
  }
  .wide .row.smallSpace{
      margin-left: -5px;
      margin-right: -5px;
  }
  .wide .col {
    margin-top: 12px;
    margin-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
  }
  .wide .row.smallSpace.col {
    margin-top: 5px;
    margin-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
  }
  .wide .l-0 {
      display: none;
  }
  .wide .l-2-4
  .wide .l-1,
  .wide .l-2,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
      display: block;
  }
  .wide .l-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .wide .l-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .wide .l-2-4{
      flex: 0 0 20%;
      max-width: 20%;
  }
  .wide .l-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .wide .l-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .wide .l-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .wide .l-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .wide .l-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .wide .l-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .wide .l-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  .wide .l-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
  .wide .l-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }
  .wide .l-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  /* ================================= */
  .wide .l-o-1 {
      margin-left: 8.33333%;
  }
    
  .wide .l-o-2 {
      margin-left: 16.66667%;
  }
    
  .wide .l-o-3 {
      margin-left: 25%;
  }
    
  .wide .l-o-4 {
      margin-left: 33.33333%;
  }
    
  .wide .l-o-5 {
      margin-left: 41.66667%;
  }
    
  .wide .l-o-6 {
      margin-left: 50%;
  }
    
  .wide .l-o-7 {
      margin-left: 58.33333%;
  }
    
  .wide .l-o-8 {
      margin-left: 66.66667%;
  }
    
  .wide .l-o-9 {
      margin-left: 75%;
  }
    
  .wide .l-o-10 {
      margin-left: 83.33333%;
  }
    
  .wide .l-o-11 {
      margin-left: 91.66667%;
  }
}