
/* phone+tablet < 1024px */
@media only screen and (max-width:64em){

.burgernav{
    display:block;
}
   
.headright{
    display: none;
}
.header_navbar-ul{
    margin:auto;
}
.search{
    display: none;
}
#bannerImg{
    transform: scale(.6);
}

.onclip{
    width: 100vw;
    height: 54vh;
}

#Layer_1 {
    width: 150px;
    top: -67px;
    left: -66px;
    z-index: 0;
}
.content-box {
    text-align: center;
}

.col-3,.category{
    display:none;
}
.col-4{
    max-width: 100%;
}
.col-9 {
    max-width: 100%;
    width:100%;
    margin: auto;
}
.filterBar{
    display: none;
}
.productContainer {
    width: 100vw;}
.col-9-3 {
    margin: 10px 20px;
    width: 100%;
}
.paginli{
    margin:0;
}
.col-12-2_4 {
    text-align: center;
    margin: 20px;
    width: 100%;
}
.fTile {
    display: inline-block;
}
.fUl {
    margin-bottom:10px;
}
.fApp img {
    width: auto;
    height: 57px;
}
.fDownApp {
    justify-content: center;
    margin: 20px 0;
}
.fQr {
    width: 126px;}


/* Product */

.productBox {
    display: flex;
    height: 148px;
}
.productImg {
    padding-top:0;
    min-width: 162px;
}
.pdDetail {
    padding: 14px;
}
.pdSubDetail {
    align-items: flex-start;
}
.pdName{
    margin-top:32px;
}
.pdPrice{
       flex-wrap:nowrap;
}
.pdPriceNew {
    font-size: 2.2rem;
}
.pdRating i{
    font-size: .8rem;
}

.pdOrigin{
    display: none;
}
.pdFeature{
    top: 0;
    left:auto;
    margin-top: 10px;
    height: 32px;
    padding: 0;
}
.nofeature{
    margin-top:19px;
}
.pdLabelLove{
    top: -14px;
    left: -8px;
    height: 11px;
    font-size: 1.2rem;
    padding: 16px 8px;
}
.deco2 {

  display:none;

}
.deco3 {
    width:16px;
    height: 16px;
}
.deco3 i{
    font-size:1rem;
}
.pdLabelSale {
    bottom: 0;
    left: 0;
    top:auto;
    right: auto;
    font-size: 1rem;
    line-height: 1.5rem;
}
.pdLabelSale::after{
    display:none;
}
.numSale {
    font-size: 2.9rem;}

.searchMobile{
    display:block;
}
}
.pdPriceOld{
    font-size:1.2rem;
}

/* phone < 740px */
@media only screen and (max-width:46.1875em){
    #ServiceFoot {
        bottom: -5%;}
}
/* Tablet >= 740 and <1024*/
@media only screen and (min-width:46.25em) and (max-width:64em){

}

/* pc >=1024 */
@media only screen and (min-width:64em){
    
}
