
/* phone+tablet < 1024px */
@media only screen and (max-width:64em){

.burgernav{
    display:block;
}
   
.headright{
    display: none;
}
.header_navbar-ul{
    margin:auto;
}
.search{
    display: none;
}
#bannerImg{
    transform: scale(.6);
}

.onclip{
    width: 100vw;
    height: 54vh;
}

#Layer_1 {
    width: 150px;
    top: -67px;
    left: -66px;
    z-index: 0;
}
.content-box {
    text-align: center;
}

.col-3,.category{
    display:none;
}
.col-4{
    max-width: 100%;
}
.col-9 {
    max-width: 100%;
    width:100%;
    margin: auto;
}
.sortBy{
    /* position: absolute;
    top: 3px;
    left: 10px;
    color: var(--dblue);
    margin: 10px;
    font-size: 20px; */
    display: none;
}
.filterTag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    order: 0;
    min-width: 100%;
}
.filterBar{
    background-color: #ffffff;
    box-shadow: 0 8px 17px rgba(56, 255, 212, 0.15);
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.filterBar .btnFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
    flex: 1;
    color: #04ca88;
    font-size: 1.4rem;
    margin-right: 0;
}
.btnFilter:last-child{
    margin-right: 0;
}


.btnlightHove{
    background:transparent;
}

.filterBar .btnFilter .deco {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    padding: 0;
    background: #04ca88;
}
.filterBar .btnFilter .deco i {
    font-size: 1rem;
    color: #fff;
}
.filterBar .btnFilter:hover {
    color: #04ca88;
    background: #e8fff5;
}
.filterBar .btnFilter:hover .deco {
    background: #04ca88;
  }
  .filterBar .filterBtnActive:hover {
    color: #fff;
    background: var(--hove);
  }
  .filterBar .filterBtnActive:hover .deco{
    color: #fff;
    background: #03e5a4;
  }

  .filterBar .filterBtnActive {
    color: #ffffff;
}
.filterBar .filterBtnActive .deco{
    background:#03e5a4;
}
.filterFeature {
    flex:1;
    justify-content: center;
    align-items: center;
}
.filterCat{
    padding: 11px 19px 25px;
    border-top: 1px solid #d6efe4;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.filterCatLi{
    list-style: none;
    /* border: 1px solid #9fdcc8; */
    border-radius: 50px;
    padding: 0px 12px;
    margin: 20px 10px 0 0;
    display: flex;
    align-items: center;
    transition: .3s;
    background: #EDFAF3;
    color: #00d192;
}
.filterCatLi:hover{
    color:#fff;
    background:#00d192;
}
.filterCatLi:hover .filterCount{

    background:#36e7b2;
}
.filterCatA{
    font-size: 1.3rem;
    padding: 4px 10px 4px 6px;
}
.filterCount{
    background:#00d192;
    padding: 4px 6px;
    border-radius: 50px;
    font-size: .9rem;
    color: #fff;
    line-height: .9rem;
}

.filterBar .select2 {
    /* padding: 6px 14px;
    margin: 8px 0;
    min-width: 100%; */
    display: none;
 
}
.filterBar .select2 span{
    /* font-size: 1.4rem; */
    display: none;
}

.filterPageContent{
    display: none;
}


.productContainer {
    width: 100vw;}
.col-9-3 {
    margin: 10px 20px;
    width: 100%;
}
.paginli{
    margin:0;
}
.col-12-2_4 {
    text-align: center;
    margin: 20px;
    width: 100%;
}
.fTile {
    display: inline-block;
}
.fUl {
    margin-bottom:10px;
}
.fApp img {
    width: auto;
    height: 57px;
}
.fDownApp {
    justify-content: center;
    margin: 20px 0;
}
.fQr {
    width: 126px;}


/* Product */

.productBox {
    display: flex;
    height: 148px;
}
.productImg {
    padding-top:0;
    min-width: 162px;
}
.pdDetail {
    padding: 14px;
    width: 100%;
}
.pdSubDetail {
    align-items: flex-start;
}
.pdName{
    margin-top:32px;
}
.pdPrice{
       flex-wrap:nowrap;
}
.pdPriceNew {
    font-size: 2.2rem;
}
.pdRating i{
    font-size: .8rem;
}

.pdOrigin{
    display: none;
}
.pdFeature{
    top: 0;
    left:auto;
    margin-top: 10px;
    height: 32px;
    padding: 0;
}
.nofeature{
    margin-top:19px;
}
.pdLabelLove{
    top: -14px;
    left: -8px;
    height: 11px;
    font-size: 1.2rem;
    padding: 16px 8px;
}
.deco2 {

  display:none;

}
.deco3 {
    width:16px;
    height: 16px;
}
.deco3 i{
    font-size:1rem;
}
.pdLabelSale {
    bottom: 0;
    left: 0;
    top:auto;
    right: auto;
    font-size: 1rem;
    line-height: 1.5rem;
}
.pdLabelSale::after{
    display:none;
}
.numSale {
    font-size: 2.9rem;}

.searchMobile{
    display:block;
}
}
.pdPriceOld{
    display: none;
}

/* phone < 740px */
@media only screen and (max-width:46.1875em){
    #ServiceFoot {
        bottom: -5%;}
}
/* Tablet >= 740 and <1024*/
@media only screen and (min-width:46.25em) and (max-width:64em){

}

/* pc >=1024 */
@media only screen and (min-width:64em){
    
}
