
/* phone+tablet < 1024px */
@media only screen and (max-width:64em){

    .serviceBox{
        width:80%;
        margin:10px auto;
    }


/* Slide category */

.filterCatSlide{
    display:block;
    background: #ffffff;
    width: 100%;
    padding: 10px 19px 25px;
    border-top: 10px solid #f9f9f9;
}
.filterCatSlideUl{
    display:flex;
    overflow-x: auto;
}
.filterCatSlideUl-y{
    display: flex;
    height: 10vh;
    overflow-x: auto;
}
.filterCatSlideUl::-webkit-scrollbar, .filterCatSlideUl-y::-webkit-scrollbar{
    display:none;
}
.filterCatSlideA{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.filterCatSlideIcon, .lastSlideCat{
    width: 121px;
    height: 80px;
    border-radius: 3px;
    margin-bottom: 6px;
}
.lastSlideCat{
    display: flex;
    border: 1px solid #333;
}
.filterCatSlideA:nth-child(1) .filterCatSlideIcon{
    background: 
    /* linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.45)
    ), */
    url(/img/slidea.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.filterCatSlideA:nth-child(2) .filterCatSlideIcon{
    background: 
    url(/img/slideb.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.filterCatSlideA:nth-child(3) .filterCatSlideIcon{
    background: 
    url(/img/slidec.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.filterCatSlideA:nth-child(4) .filterCatSlideIcon{
    background: 
    url(/img/slided.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.filterCatSlideA:nth-child(5) .filterCatSlideIcon{
    background: 
    url(/img/slidee.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.filterCatSlideA:nth-child(6) .filterCatSlideIcon{
    background: 
    url(/img/slidef.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.filterCatSlideA:nth-child(7) .filterCatSlideIcon{
    background: 
    url(/img/slideg.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.filterCatSlideA:nth-child(8) .filterCatSlideIcon{
    background: 
    url(/img/slideh.png);
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}

.filterCatSlideA span{
    --line:1.6rem;
    line-height:var(--line) ;
    max-height: calc(var(--line)*2);
    overflow: hidden;
    display: block;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.3rem;
    padding: 0 10px;
    text-align: center;
    color: #7d7d7d;
} 


.fLi{
    display:block;
}

.burgernav{
    display:block;
}
   
.headright{
    display: none;
}
.header_navbar-ul{
    margin:auto;
}
.search{
    display: none;
}
#bannerImg{
    transform: scale(.6);
}

.onclip{
    width: 100vw;
    height: 54vh;
}

#Layer_1 {
    position:absolute;
    width: 150px;
    top: -67px;
    left: -66px;
    z-index: 0;
}
.content-box {
    text-align: center;
}
/* ctg on mobile */
.category{
    margin: 0;
    position: fixed;
    min-width: 100%;
    z-index: 3000;
    bottom: 0;
    top: 0;
    right: 0;
    transform: translate(-100%, 0%);
    transition:.5s;
}
.slideCtg .category{
    transform: translate(0%, 0%);
}
.ctghead h3 {
    margin: 0;
}
.closeCatalog{
    display:block;
    cursor: pointer;
    padding: 10px;
    font-size: 2.4rem;
    line-height: 1rem;
}

.sortBy{
    display:none;
    /* position: absolute;
    font-family: roboto;
    top: -47px;
    left: 16px;
     font-size: 2.2rem;
    font-weight: 600;
    font-family: 'roboto';
    color: #0b0422; */

}
.filterTag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    order: 0;
    min-width: 100%;

}
.filterBar{
    background-color: #ffffff;
    box-shadow: 0 7px 16px rgb(207, 249, 231);
    height: auto;
    padding: 0;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}
.filterBar .btnFilter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;
    flex: 1;
    background: #ffffff;
    color: #cccccc;
    font-size: 1.4rem;
    margin-right: 0;
}

.btnFilter::after{
    position: absolute;
    content: '';
    right: 0;
    width: 1px;
    height: 26px;
    background: #efefef;
}
.btnFilter:last-child::after{
display:none;
}
.btnlightHove{
    background:transparent;
}

.filterBar .btnFilter .deco {
    width: 25px;
    height: 25px;
    padding: 0;
    background: #dbdbdb;
}
.filterBar .btnFilter .deco i {
    font-size: 1rem;
    color: #fff;
}
.filterBar .btnFilter:hover {
    color: #04ca88;
    background: #e8fff5;
}
.filterBar .btnFilter:hover .deco {
    background: #00d192;
  }
  .filterBar .filterBtnActive:hover {
    color: #fff;
    background: var(--hove);
  }
  .filterBar .filterBtnActive:hover .deco{
    color: #fff;
    background: #03e5a4;
  }

  .filterBar .filterBtnActive {
    color: #00d192;
    border-top: 2px solid #00d192;
}
.filterBar .filterBtnActive .deco{
    background:#03e5a4;
}
.filterFeature {
    flex:1;
    justify-content: center;
    align-items: center;
}


.filterCat{
    padding: 11px 19px 25px;
    border-top: 10px solid #f9f9f9;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.filterCatLi{
    list-style: none;
    border-radius: 50px;
    padding: 0px 12px;
    height: 40px;
    margin: 10px 10px 0 0;
    display: inline-flex;
    align-items: center;
    transition: .3s;
    background: #EDFAF3;
    color: #00d192;
}
.filterCatLi:hover{
    color:#fff;
    background:#00d192;
}
.filterCatLi:hover .filterCount{

    background:#36e7b2;
}
.filterCatA{
    white-space: nowrap;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 4px 10px 4px 6px;
}
.filterCount{
    background:#00d192;
    padding: 4px 6px;
    border-radius: 50px;
    font-size: .9rem;
    color: #fff;
    line-height: .9rem;
}

.filterBar .select2 {
    /* padding: 6px 14px;
    margin: 8px 0;
    min-width: 100%; */
    display: none;
 
}
.filterBar .select2 span{
    /* font-size: 1.4rem; */
    display: none;
}

.filterPageContent{
    display: none;
}
.filterCombine_ctg_Tag{
    padding: 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.filterCombine_ctg_Tag h6{
    margin: 0 0 10px;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: 'roboto';
    color: #0b0422;
}
.ctgMobil{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 4px 10px; */
    /* background: #f7f7f7; */
    border-radius: 4px;
}
.tagMobil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    background: #eafff1;
    font-weight: 400;
        
   
}

.ctgMobil span{
    font-size: 1.4rem;
    font-weight: 600;
    color: #04ca88;
}

.ctgMobil i{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 4px;
    color: #04ca88;
}

.ctgMobil:hover{
    cursor: pointer;
}




/* product Box */
.productContainer {
    padding:0 20px;
}

.paginli{
    margin:0;
}

.fTile {
    display: inline-block;
}
.fUl {
    margin-bottom:10px;
    padding: 0 20px;
}
.fApp img {
    width: auto;
    height: 57px;
}
.fDownApp {
    justify-content: center;
    margin: 20px 0;
}
.fQr {
    width: 126px;}


/* Product */

.productBox {
    display: flex;
    height: 148px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.productImg {
    padding-top:0;
    min-width: 162px;
}
.pdDetail {
    padding: 14px;
    width: 100%;
}
.pdSubDetail {
    align-items: flex-start;
}
.pdName{
    margin-top:32px;
}
.pdPrice{
       flex-wrap:nowrap;
}
.pdPriceNew {
    font-size: 2.2rem;
}
.pdRating i{
    font-size: .8rem;
}

.pdOrigin{
    display: none;
}
.pdFeature{
    top: 0;
    left:auto;
    margin-top: 10px;
    height: 32px;
    padding: 0;
}
.nofeature{
    margin-top:19px;
}
.pdLabelLove{
    top: -14px;
    left: -8px;
    height: 11px;
    font-size: 1.2rem;
    padding: 16px 8px;
}
.deco2 {

  display:none;

}
.deco3 {
    width:16px;
    height: 16px;
}
.deco3 i{
    font-size:1rem;
}
.pdLabelSale {
    bottom: 0;
    left: 0;
    top:auto;
    right: auto;
    font-size: 1rem;
    line-height: 1.5rem;
}
.pdLabelSale::after{
    display:none;
}
.numSale {
    font-size: 2.9rem;}

.searchMobile{
    display:block;
}
}
.pdPriceOld{
    display: none;
}

/* phone < 740px */
@media only screen and (max-width:46.1875em){
    #ServiceFoot {
        bottom: -5%;}
}
/* Tablet >= 740 and <1024*/
@media only screen and (min-width:46.25em) and (max-width:64em){

}

/* pc >=1024 */
@media only screen and (min-width:64em){
    
}
